
@{
    ViewData["Title"] = "LibrosArq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Libros de arquitectura de software</h1>
<br />
<div class="text-center">
    <h1 class="display-4">Software Architecture: Foundations, Theory, and Practice</h1>
    <p>Este libro proporciona una visión integral de la arquitectura de software, cubriendo desde los principios y fundamentos teóricos hasta las prácticas modernas y aplicaciones prácticas. Es ideal para estudiantes y profesionales que buscan una comprensión profunda de cómo diseñar y analizar arquitecturas de software efectivas. <a href="https://www.amazon.com/Software-Architecture-Foundations-Theory-Practice/dp/0470167742">Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/61KiKu-DQ5L._AC_UF1000,1000_QL80_.jpg">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Software Systems Architecture: Working With Stakeholders Using Viewpoints and Perspectives</h1>
    <p>Este libro aborda la arquitectura de sistemas de software desde la perspectiva de la colaboración con los interesados, utilizando diferentes puntos de vista y perspectivas. Es una guía práctica que ayuda a los arquitectos a tomar decisiones informadas y a comunicar efectivamente las soluciones arquitectónicas a todas las partes involucradas. <a href="https://www.amazon.com/Software-Systems-Architecture-Stakeholders-Perspectives/dp/032171833X">Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/51VJKe5WXsL._SY445_SX342_.jpg">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Documenting Software Architectures: Views and Beyond</h1>
    <p>Este libro se centra en la documentación de arquitecturas de software, ofreciendo un enfoque basado en vistas para describir los diferentes aspectos de una arquitectura. Proporciona directrices y ejemplos sobre cómo documentar arquitecturas de manera clara y efectiva, facilitando la comunicación y el entendimiento entre los equipos de desarrollo y las partes interesadas. <a href="https://www.amazon.com/Documenting-Software-Architectures-Views-Beyond/dp/0321552687">Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/51mRp4Nc5IL._SY445_SX342_.jpg">
</div>
<br />
<br />
<br />