
@{
    ViewData["Title"] = "LibrosDis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Libros de diseño de software</h1>
<br />
<div class="text-center">
    <h1 class="display-4">Design Patterns: Elements of Reusable Object-Oriented Software</h1>
    <p>Este libro es una referencia esencial para aprender sobre patrones de diseño en la programación orientada a objetos. Proporciona soluciones comprobadas y reutilizables para problemas comunes en el diseño de software, ayudando a los desarrolladores a crear sistemas más flexibles y fáciles de mantener. <a href="https://en.wikipedia.org/wiki/Design_Patterns">Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/81gtKoapHFL._AC_UF1000,1000_QL80_.jpg">
</div>
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Software Architecture in Practic</h1>
    <p>Este libro explora los fundamentos de la arquitectura de software y su aplicación práctica en el desarrollo de sistemas complejos. Cubre conceptos clave, patrones arquitectónicos y técnicas para diseñar arquitecturas de software que satisfagan los requisitos funcionales y no funcionales. <a href="https://dl.acm.org/doi/book/10.5555/2392670">Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/615FvRR9wuL._AC_UF1000,1000_QL80_.jpg">
</div>
<br />
<br />
<br />
<div class="text-center">
    <<h1 class="display-4">Patterns of Enterprise Application Architecture</h1>
    <p>Este libro ofrece una colección de patrones arquitectónicos que son fundamentales para el diseño y desarrollo de aplicaciones empresariales. Proporciona soluciones y mejores prácticas para enfrentar los desafíos comunes en el desarrollo de aplicaciones a gran escala, incluyendo la gestión de datos, la distribución y la escalabilidad. <a href="https://martinfowler.com/books/eaa.html" >Más información</a>.</p>
    <img src="https://m.media-amazon.com/images/I/61yNt+jcM0L._AC_UF1000,1000_QL80_.jpg">
</div>
<br />
<br />
<br />
