<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f253393b-d085-4104-b6db-65b3acb4922c/resourcegroups/WS-T3_group/providers/Microsoft.Web/sites/T3ApazaRomero</ResourceId>
    <ResourceGroup>WS-T3_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://t3apazaromero.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>47968410-221d-40e4-a44a-8e87530b20f1</ProjectGuid>
    <PublishUrl>https://t3apazaromero.scm.azurewebsites.net/</PublishUrl>
    <UserName>$T3ApazaRomero</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>